@import '../../partials/global';

.modal-main {
    background-color: #d8e1e9;
    &__points {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 30px;
        &__value {
            color: white;
            margin-left: 5px;
        }
    }
    &__yellow-star {
        width: 20px;
    }
    &__buttons {
        display: flex;
        justify-content: space-around;
        padding: 10px 0px;
        &__btn {
            width: 45%;
            outline: none;
            background-color: transparent;
            border: none;
            color: $main;
        }
    }
}