@import '../../partials/global';

.hero {
    border-bottom: 1px solid $grey;
    padding: 10px;
    padding-top: 60px;
    background-color: #d8e1e9;
    &__title {
        font-weight: 500px;
        color: #003f88;
    }
}
.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;

}
