@import '../../../partials/global';

.store-charts {
    background-color: #d8e1e9;
    // height: 100%;
    padding: 3%;
}

.line-chart {
    position: relative;
}

.lineChart {
    // border: 1px solid black;
    margin-bottom: 20%;
}

