@import '../../partials/global';

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.modal-main {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8e1e9;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 90vw;
    height: fit-content;
    top:50%;
    left:50%;
    transform: translate(-50%,-60%);
    border-radius: 10px;
    z-index: -1;
    &__label {
        font-size: 13px;
        margin-right: 10px;
    }
    &__input {
        padding: 5px 10px;
        border: 1px solid $main;
        outline: none;
        border-radius: 5px;
        margin-bottom: 5px;
        width: 80%;
        &:focus {
            border: 1px solid $dark-main;
        }
    }
    &__location {
        width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__profile {
        border: 1px solid white;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 15px;
    }
    &__buttons {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin-top: 20px;
        &__btn {
            width: 45%;
            background-color: white;
            border: none;
            color: $main;
        }
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__btn {
            margin-bottom: 5px;
            border: none;
            background-color: transparent;
            text-decoration: underline;
        }
    }
}

.signup-form {
    width: 90%;
}