@import '../../../partials/global';

.points {
    &__title {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 10px;
        color: #003f88;
        background-color: #d8e1e9;
    }
    &__hero {
        height: 200px;
        background-color: #809bce;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__stat {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 90px;
            &__text {
                color: white;
                font-size: 2rem;
            }

        }
    }
    &__cards {
        padding: 30px 3% 0px 3%;
        padding-bottom: 60px;
        background-color: #d8e1e9;
    }
}