@import '../../partials/global';

.card {
    border: 1px solid white;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 30px;
    &__imgBox {
        overflow:hidden;
        min-width: 100px;
        min-height: 100px;
    }
    &__img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 30px;
        padding: 2px 2px 0px 2px;
        &:hover {
            opacity: 0.7;
        }
    }
    &__name {
        color: #809bce;
        font-size: 12px;
    }

}