@import '../../../partials/global';

.code-page {
    &__container {
        display: flex;
        flex-direction: column;
        margin: 0px 3% 0px 3%;
        height: 100vh;
        border-top: 1px solid $main;
        border-bottom: 1px solid $main;
        border-radius: 5px;
        padding-top: 80px;

    }
    &__qr {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 50%;
        width: 100%;
        height: fit-content;
    }
}

