@import '../../partials/global';

.store-home {
    height: 100vh;
    background-color: #d8e1e9;
}

.store-hero {
    padding: 3%;
    padding-bottom: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $grey;
    background-color: $main;

    &__name {
        align-self: center;
        font-size: 3rem;
        margin-top: 30%;
        color: white;
    }
    &__collector-count {
        font-size: 30px;
        margin-top: 10%;
        font-weight: 300;
        color: white;
    }
}