@import '../../../partials/global';

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    &__header {
        width: 100%;
        display: flex;
        flex-direction: column;
        &__logout {
            font-size: 12px;
            margin-top: 70px;
            border: none;
            background: none;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        height: 100vh;
        padding: 3%;
        padding-top: 70px;
        background-color: #d8e1e9;
        &__head {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            &__edit {
                width: 20px;
                height: 20px;
                align-self: flex-end;
                margin: 5px;
            }
            &__title {
                align-self: flex-start;
                font-weight: normal;
                font-size: 1.5rem;
                color: $dark-main;
                background-color: white;
            }
        }
        &__img {
            border: 1px solid white;
            border-radius: 10px;
            width: 150px;
            height: 150px;
            margin-top: 20%;
            object-fit: cover;
        }
        &__name {
            margin-bottom: 50px;
            margin-top: 10px;
        }
        &__field {
            margin-bottom: 10px;
            width: 200px;
            &--value {
                color: #3168b0;
            }
        }
    }   
}
