 

 * {
     box-sizing: border-box;
     margin:0;
     padding:0;
     text-decoration: none;
     font-family: sans-serif;
     font-size: 11px;
 }

 $grey: #cecece;
 $main: #B5C9C3;
 $lighter-main: #cfd8d7;
