$grey: #cecece;
$main: #809bce;

$lighter-main: #cfd8d7;
$dark-main: #498d95;
$black: #202e3d;
$blue1: #b0d0d3;
$blue2: #778da9;
$blue3: #386fa4;
$background: #d8e1e9;

 * {
     box-sizing: border-box;
     margin:0;
     padding:0;
     text-decoration: none;
     font-family: sans-serif;
     font-size: 15px;
    color: $black;
    -ms-overflow-style: none;
    cursor:crosshair;
 }

 ::-webkit-scrollbar {
    display: none;
}


